/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  border: 2px solid red;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.loopContainer {
  border: 2px solid magenta;
  width: 30rem;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1.5rem 0;
  overflow: hidden;
}

.loopRow .loopObj {
  border: 2px solid greenyellow;
  display: flex;
  width: fit-content;
  animation-name: loop;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: var(--direction);
  animation-duration: var(--duration);
}

.tag {
  border: 2px solid lightblue;
  display: flex;
  align-items: center;
  color: #e2e8f0;
  background-color: #334155;
  border-radius: 10px;
  padding: 15px 10px;
  margin-right: 0.75rem;
  box-shadow: 
    0 0.1rem 0.2rem rgb(0 0 0 / 20%),
    0 0.1rem 0.5rem rgb(0 0 0 / 30%),
    0 0.2rem 1.5rem rgb(0 0 0 / 40%);
}

.tag span {
  font-size: 1.2rem;
  color: #64748b;
}

.fade {
  background: linear-gradient(90deg, #ffffff, transparent 25%, transparent 75%, #ffffff);
  position: absolute;
  inset: 0;
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
